@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-white;
}

button {
    @apply outline-none;
}

/* *************************** */
/*           GREEN            */
/* *************************** */

.green{
    @apply text-5xl;
    @apply font-extrabold;
    @apply text-gray-800;
}

.green-blog-headings {
    @apply text-5xl;
    @apply font-extrabold;
    @apply text-green-700;
}

.green-h3{
    @apply text-4xl;
    @apply font-semibold;
    @apply text-green-400;
}

.form-group{
    @apply p-2;
    @apply block;
    @apply w-11/12;
    @apply md:w-3/4;
    @apply mx-auto;
}

.form-control{
    @apply p-3;
    @apply w-full;
    @apply float-left;
    @apply border;
    @apply mb-4;
    @apply border-solid;
    @apply border-gray-300;
    @apply focus:outline-none; 
    @apply focus:ring-2;
    @apply focus:ring-gray-600; 
    @apply focus:border-transparent;
}

.form-control-blog{
    @apply p-3;
    @apply w-full;
    @apply float-left;
    @apply rounded;
    @apply border;
    @apply border-solid;
    @apply border-gray-300;
    @apply focus:outline-none; 
    @apply focus:ring-2;
    @apply focus:ring-green-400; 
    @apply focus:border-transparent;
}

.form-group button, .form-group-blog button{
    @apply bg-gray-900; 
    @apply text-white;
    @apply w-full;
    @apply py-2; 
    @apply px-4;
    @apply hover:bg-gray-50;
    @apply hover:text-gray-900;
    @apply border;
    @apply hover:border-gray-700;
    @apply shadow-md;
    @apply transform;
    @apply transition;
    @apply duration-200;
    @apply hover:shadow-sm;
}

.update{
    @apply bg-yellow-400; 
    @apply text-white; 
    @apply pt-2; 
    @apply pb-2; 
    @apply pr-4; 
    @apply pl-4; 
    @apply rounded; 
    @apply hover:bg-yellow-500;
    @apply shadow-md;
    @apply hover:shadow-sm;
}

.delete{
    @apply bg-red-500; 
    @apply text-white; 
    @apply pt-2; 
    @apply pb-2; 
    @apply pr-4; 
    @apply pl-4; 
    @apply rounded; 
    @apply hover:bg-red-600;
    @apply shadow-md;
    @apply hover:shadow-sm;
}

.lista{
    @apply text-gray-400;
    @apply text-base;
    @apply font-light;
    @apply transition-all; 
    @apply duration-300;
    @apply hover:text-black;
}

.productImage{
    @apply absolute;
    @apply inset-0;
    @apply bg-cover;
    @apply bg-center;
    @apply z-0;
    @apply hover:scale-105;
    @apply hover:shadow-md;
    @apply transform;
    @apply transition-all;
    @apply duration-300;
}

.measurementItem{
    @apply transition;
    @apply duration-300;
    @apply shadow;
    @apply ease-in-out;
    @apply transform;
    @apply hover:-translate-y-1;
    @apply hover:scale-105;
    @apply hover:shadow-lg;
    @apply select-none;
    @apply cursor-pointer;
    @apply bg-white;
    @apply rounded-md;
    @apply flex;
    @apply flex-1;
    @apply items-center;
    @apply p-4;
}

.measurementInput{
    @apply rounded-lg;
    @apply border-transparent;
    @apply flex-1;
    @apply appearance-none;
    @apply border;
    @apply border-gray-300;
    @apply w-36;
    @apply py-2;
    @apply px-4;
    @apply bg-white;
    @apply text-gray-700;
    @apply placeholder-gray-400;
    @apply shadow-sm;
    @apply text-sm;
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-purple-600;
    @apply focus:border-transparent;
}

.sketchPreview {
    width: 250px;
    height: 250px;
    display: inline-block;
    cursor: pointer;
    /* margin: 30px auto 0px; */
    background-size: cover;
    background-position: center center;
    @apply relative;
}

.sketchInput {
    width: 250px;
    @apply absolute;
    @apply py-2;
    @apply px-4;
    @apply bg-blue-600;
    @apply hover:bg-blue-700;
    @apply focus:ring-blue-500;
    @apply focus:ring-offset-blue-200;
    @apply text-white;
    @apply transition;
    @apply ease-in;
    @apply duration-200;
    @apply text-center;
    @apply text-base;
    @apply font-semibold;
    @apply shadow-md;
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-offset-2;
    @apply rounded-lg;
    @apply cursor-pointer;
}

.blogItem{
    @apply w-4/5;
    @apply md:w-3/5;
    @apply mx-auto;
    @apply transition;
    @apply duration-300;
    @apply shadow-md;
    @apply ease-in-out;
    @apply transform;
    @apply hover:-translate-y-1;
    @apply hover:scale-105;
    @apply hover:shadow-xl;
    @apply select-none;
    @apply cursor-pointer;
    @apply bg-gray-50;
    @apply rounded-md;
    @apply flex;
    @apply flex-1;
    @apply items-center;
    @apply p-4;
    @apply block;
}